.box-contract-scheme-successful {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful {
    color: white;
    width: 600px;
    margin: 70px auto 0;
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .box-contract-scheme-successful .box-popup-contract-scheme-successful {
        width: 500px;
    }
}

@media (max-width: 767px) {
    .box-contract-scheme-successful .box-popup-contract-scheme-successful {
        width: 85%;
    }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup {
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup {
        background-color: #244B8C;
        padding: 10px 15px;
    }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title {
    text-align: center;
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title .strip {
    display: none;
}

@media (max-width: 767px) {
    .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title .strip {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title {
        padding: 0;
        font-size: 14px;
        text-align: left;
    }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #FCCF00;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title:before {
        display: none;
    }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup {
    background-color: white;
    color: #231F20;
    box-sizing: border-box;
    padding: 25px 25px 40px;
}

@media (max-width: 767px) {
    .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup {
        padding: 10px 15px;
    }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-description {
    margin-bottom: 10px;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-description .value-description {
    font-size: 13px;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-title {
    margin-bottom: 10px;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-title span {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-title span {
        font-size: 20px;
    }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-button {
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
    .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-button {
        flex-direction: column;
    }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-button .button {
    font-weight: 700;
    padding: 3px 25px;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-button .button:hover {
    text-decoration: none;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-button .button.cx-close {
    background-color: #244B8C;
    color: white;
    padding: 3px 30px;
    margin-top: 10px;
}