/* pembuka section box-profile-and-notif */
section.box-profile-and-notif {
  display: flex;
  flex-direction: column;
}

section.box-profile-and-notif .box-component1 {
  display: flex;
}

@media (max-width: 767px) {
  section.box-profile-and-notif .box-component1 {
    flex-direction: column;
  }
}

section.box-profile-and-notif .box-component1 .box-component2 {
  flex: 1;
  background-color: black;
}

section.box-profile-and-notif .box-component1 .box-component2.box-profile {
  background-color: #f5cf04;
  padding: 20px 0;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
}

@media (max-width: 1200px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-profile {
    flex: 0 0 30%;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-profile .box-image {
  width: 110px;
  height: 110px;
  margin-right: 0;
  display: inline-block;
  padding: 0;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-left: -30px;
}

@media (max-width: 1200px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-profile .box-image {
    margin-left: 0;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-profile .name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333333;
  margin-left: -30px;
}

@media (max-width: 1365px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-profile .name {
    text-align: center;
    margin-left: 0;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-profile .name {
    font-size: 17px;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-profile .box-update-logout {
  overflow: hidden;
}

@media (max-width: 1366px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-profile .box-update-logout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-profile .box-update-logout .button {
  display: inline-block;
  color: white;
  font-size: 10px;
  padding: 3px 15px;
  border-radius: 20px;
  background-color: #244b8c;
  margin-bottom: 5px;
}

section.box-profile-and-notif .box-component1 .box-component2.box-profile .box-update-logout .button:nth-child(1) {
  margin-right: 8px;
}

section.box-profile-and-notif .box-component1 .box-component2.box-current {
  background-color: #f1b914;
  border-right: 1px solid white;
  padding: 30px 20px 20px;
}

@media (max-width: 767px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-current {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-current .title {
  font-size: 24px;
  font-weight: 600;
  /* overflow-x: auto; */
  color: #333333;
  line-height: 1.3;
}

@media (max-width: 1365px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-current .title {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-current .title {
    text-align: center;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-current .title.renew span {
  color: #E14649;
}

section.box-profile-and-notif .box-component1 .box-component2.box-current .description {
  margin-top: 10px;
  /* overflow-y: auto; */
  font-size: 15px;
  color: #413c30;
  font-weight: 600px;
  min-height: 88px;
}

@media (max-width: 1365px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-current .description {
    min-height: 95px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-current .description {
    min-height: 40px;
    text-align: center;
    font-size: 12px;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-current .description.renew {
  min-height: 58px;
}

section.box-profile-and-notif .box-component1 .box-component2.box-current .button {
  background-color: #e14747;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  padding: 8px 25px;
  margin-top: 10px;
  display: inline-block;
}

@media (max-width: 767px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-current .button {
    padding: 3px 50px;
    font-size: 14px;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-point {
  background-color: #efa41c;
  flex-direction: column;
  flex: 0 0 25%;
}

@media (max-width: 1199px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-point {
    flex: 0 0 30%;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-point .box-component3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  border: 1px solid;
  padding: 12px 0;
  box-sizing: border-box;
  color: white;
}

section.box-profile-and-notif .box-component1 .box-component2.box-point .box-component3 .title {
  font-size: 14px;
  margin-bottom: 15px;
}

@media (max-width: 1365px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-point .box-component3 .title {
    font-size: 13px;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-point .box-component3 .description {
  font-size: 28px;
  margin-bottom: 15px;
}

@media (max-width: 1365px) {
  section.box-profile-and-notif .box-component1 .box-component2.box-point .box-component3 .description {
    font-size: 26px;
  }
}

section.box-profile-and-notif .box-component1 .box-component2.box-point .box-component3 .button {
  color: white;
  background-color: #e14747;
  font-size: 10px;
  padding: 2px 15px;
  border-radius: 20px;
}

section.box-profile-and-notif .box-component1 .box-component2.box-point .box-component3.box-performance {
  border-bottom: 1px solid white;
}

section.box-profile-and-notif .box-component1.box-new-notifications {
  padding: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
}

section.box-profile-and-notif .box-component1.box-new-notifications .box-left {
  font-size: 12px;
  font-weight: 600;
}

section.box-profile-and-notif .box-component1.box-new-notifications .box-left span {
  color: #e4c010;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  top: -1px;
  margin-right: 2px;
}

section.box-profile-and-notif .box-component1.box-new-notifications .box-right {
  font-size: 11px;
  color: white;
}

section.box-profile-and-notif .box-component1.box-new-notifications .box-right span {
  color: #e4c010;
  text-decoration: underline;
}

/* penutup section box-profile-and-notif */

/* pembuka section box-contract-scheme */
section.box-contract-scheme .box-header-contract-scheme .title {
  font-size: 24px;
  font-weight: 600;
  overflow-x: auto;
  color: #333333;
  line-height: 1.3;
  margin-bottom: 10px;
}

section.box-contract-scheme .box-header-contract-scheme .title {
  font-size: 24px;
  font-weight: 600;
  overflow-x: auto;
  color: #333333;
  line-height: 1.3;
  margin-bottom: 10px;
}

section.box-contract-scheme .box-header-contract-scheme .title.renew span {
  color: #e14649;
}

@media (max-width: 767px) {
  section.box-contract-scheme .box-header-contract-scheme .title.renew span {
    display: block;
  }
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-header-contract-scheme .title {
    font-size: 20px;
  }
}

section.box-contract-scheme .box-header-contract-scheme .box-description-new .desctiprion {
  font-size: 15px;
  margin-bottom: 20px;
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-header-contract-scheme .box-description-new .desctiprion {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  section.box-contract-scheme .box-header-contract-scheme .box-description-new .desctiprion {
    font-size: 13px;
  }
}

section.box-contract-scheme .box-header-contract-scheme .box-description-renew {
  margin: 20px 0 30px;
}

section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul {
  display: flex;
  margin-bottom: 8px;
}

section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul li.title {
  flex: 0 0 200px;
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 700;
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul li.title {
    font-size: 14px;
  }
}

section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul li.description {
  margin-top: -3px;
  font-size: 15px;
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul li.description {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul li.description {
    font-size: 13px;
  }
}

section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul:nth-child(1),
section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul:nth-child(3) {
  margin-bottom: 20px;
}

@media (max-width: 576px) {

  section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul:nth-child(1),
  section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul:nth-child(3) {
    margin-bottom: 10px;
  }
}

section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul:last-child {
  display: block;
}

section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul:last-child .title {
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  section.box-contract-scheme .box-header-contract-scheme .box-description-renew ul {
    display: block;
    margin-bottom: 10px;
  }
}

section.box-contract-scheme .box-header-contract-scheme .button {
  text-align: center;
  color: white;
  display: block;
  padding: 7px 0;
  background-color: #1b4b8c;
  font-size: 16px;
  margin-bottom: 30px;
}

section.box-contract-scheme .box-header-contract-scheme .button:hover {
  text-decoration: none;
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-header-contract-scheme .button {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  section.box-contract-scheme .box-header-contract-scheme .button {
    font-size: 14px;
    padding: 7px 20px;
  }
}

section.box-contract-scheme .box-content-contract-scheme ul.nav {
  margin-bottom: 50px;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme {
  padding: 0 50px;
  position: relative;
}

@media (max-width: 564px) {
  section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme {
    padding: 0 25px;
  }
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme .owl-stage-outer {
  z-index: 2;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme .owl-nav {
  width: 100%;
  height: 85%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin-top: 0;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme .owl-nav button {
  position: absolute;
  color: #1b4b8c;
  font-size: 1.6rem;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme .owl-nav button:hover {
  background-color: transparent;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme .owl-nav button:focus {
  border: transparent;
  outline: none;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme .owl-nav button.owl-prev {
  left: 0;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme .owl-nav button.owl-next {
  right: 0;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme .owl-dots {
  position: relative;
  top: 20px;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme .owl-dots button.active span {
  background-color: #0074be;
  height: 4px;
  position: relative;
  top: 1px;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav .owl-carousel.owl-contract-scheme .owl-dots button span {
  width: 55px;
  height: 2px;
  margin: 0;
  border-radius: 1px;
  background: #9fcae6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav li {
  border-radius: 10px;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav li .nav-link {
  background-color: transparent;
  color: black;
  border: 2px solid #244b8c;
  border-radius: 10px;
  padding: 0;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav li .nav-link .box-month .box-title-n-description {
  display: block;
  padding: 10px 20px;
  border-bottom: 2px solid #244b8c;
}

section.box-contract-scheme .box-content-contract-scheme ul.nav li .nav-link .box-month .box-title-n-description .title {
  font-size: 17px;
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-content-contract-scheme ul.nav li .nav-link .box-month .box-title-n-description .title {
    font-size: 16px;
  }
}

section.box-contract-scheme .box-content-contract-scheme ul.nav li .nav-link .box-month .box-title-n-description .description {
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-content-contract-scheme ul.nav li .nav-link .box-month .box-title-n-description .description {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  section.box-contract-scheme .box-content-contract-scheme ul.nav li .nav-link .box-month .box-title-n-description .description {
    font-size: 13px;
  }
}

section.box-contract-scheme .box-content-contract-scheme ul.nav li .nav-link .box-month .details {
  display: block;
  padding: 6px 20px;
  font-size: 14px;
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-content-contract-scheme ul.nav li .nav-link .box-month .details {
    font-size: 13px;
  }
}

section.box-contract-scheme .box-content-contract-scheme .tab-content #tab-month.active {
  display: block;
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list {
  border: 2px solid #244B8C;
  border-radius: 10px;
  padding: 25px;
}

@media (max-width: 567px) {
  section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list {
    padding: 15px;
  }
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .title {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .title {
    font-size: 20px;
  }
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content {
  margin: 25px 0;
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content ul {
  margin: 0;
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content ul:first-child {
  margin-bottom: 20px;
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content ul .title {
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 5px;
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content ul .title {
    font-size: 14px;
  }
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content ul .description {
  margin-top: -3px;
  font-size: 15px;
}

@media (max-width: 1365px) {
  section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content ul .description {
    font-size: 14px;
  }
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content ul .description span {
  min-width: 100px;
  display: inline-block;
  position: relative;
}

@media (max-width: 576px) {
  section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content ul .description span {
    display: block;
    min-width: 90px;
    width: 0;
  }
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content ul .description .text-italic {
  font-style: italic;
  font-size: 14px;
  margin-top: 15px;
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .box-description-tab-content ul .description .text-italic span {
  display: inline;
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .button {
  background-color: #f5cf04;
  color: black;
  padding: 6px 30px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 20px;
  display: inline-block;
}

section.box-contract-scheme .box-content-contract-scheme .tab-content .tab-content-list .button:hover {
  text-decoration: none;
}


/* penutupan section box-contract-scheme */

/* pembukaan section box-contract-scheme-confirmation */
.box-contract-scheme-confirmation {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.box-contract-scheme-confirmation.active {
  display: block;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation {
  color: white;
  width: 600px;
  margin: 70px auto 0;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation {
    width: 85%;
  }
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-header-popup {
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-header-popup {
    background-color: #244b8c;
    padding: 10px 15px;
  }
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-header-popup .title {
  text-align: center;
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-header-popup .title .strip {
  display: none;
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-header-popup .title .strip {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-header-popup .title {
    padding: 0;
    font-size: 14px;
    text-align: left;
  }
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-header-popup .title:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #fccf00;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-header-popup .title:before {
    display: none;
  }
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup {
  background-color: white;
  color: #231f20;
  box-sizing: border-box;
  padding: 25px 25px 40px;
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup {
    padding: 10px 15px;
  }
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-title {
  margin-bottom: 15px;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-title span {
  font-size: 19px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-title span {
    font-size: 20px;
  }
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-ul ul {
  border-bottom: 2px solid #244b8c;
  padding-bottom: 20px;
  display: flex;
}

@media (max-width: 576px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-ul ul {
    display: block;
  }
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-ul ul li {
  font-size: 12px;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-ul ul li.type-description {
  width: 150px;
  font-weight: 700;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-checkbox {
  display: flex;
  margin-bottom: 20px;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-checkbox .checkbox {
  margin-right: 10px;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-checkbox .description-checkbox {
  font-size: 13px;
  margin-top: 1px;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-checkbox .description-checkbox span {
  color: #244b8c;
  text-decoration: underline;
  font-weight: 600;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-button {
    flex-direction: column;
  }
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-button .button {
  color: black;
  font-weight: 700;
  padding: 3px 25px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-button .button:hover {
  text-decoration: none;
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-button .button.sign-up {
  background-color: #fccf00;
  margin-right: 30px;
}

@media (max-width: 576px) {
  .box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-button .button.sign-up {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.box-contract-scheme-confirmation .box-popup-contract-scheme-confirmation .box-content-popup .box-button .button.back {
  background-color: #afafaf;
}

/* penutup section box-contract-scheme-confirmation */

/* pembukaan section box-contract-scheme-confirmation */
.box-contract-scheme-successful {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.box-contract-scheme-successful.active {
  display: block;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful {
  color: white;
  width: 600px;
  margin: 70px auto 0;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .box-contract-scheme-successful .box-popup-contract-scheme-successful {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .box-contract-scheme-successful .box-popup-contract-scheme-successful {
    width: 85%;
  }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup {
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup {
    background-color: #244b8c;
    padding: 10px 15px;
  }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title {
  text-align: center;
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title .strip {
  display: none;
}

@media (max-width: 767px) {
  .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title .strip {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title {
    padding: 0;
    font-size: 14px;
    text-align: left;
  }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #fccf00;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-header-popup .title:before {
    display: none;
  }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup {
  background-color: white;
  color: #231f20;
  box-sizing: border-box;
  padding: 25px 25px 40px;
}

@media (max-width: 767px) {
  .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup {
    padding: 10px 15px;
  }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-description {
  margin-bottom: 10px;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-description .value-description {
  font-size: 13px;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-title {
  margin-bottom: 10px;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-title span {
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-title span {
    font-size: 20px;
  }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-button {
    flex-direction: column;
  }
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-button .button {
  font-weight: 700;
  padding: 3px 25px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-button .button:hover {
  text-decoration: none;
}

.box-contract-scheme-successful .box-popup-contract-scheme-successful .box-content-popup .box-button .button.cx-close {
  background-color: #244b8c;
  color: white;
  padding: 3px 30px;
  margin-top: 10px;
}

/* penutup section box-contract-scheme-confirmation */