.box-contract-scheme-confirmation {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation {
  color: white;
  width: 600px;
  margin: 70px auto 0;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation {
    width: 85%;
  }
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-header-popup {
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-header-popup {
    background-color: #244B8C;
    padding: 10px 15px;
  }
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-header-popup .title {
  text-align: center;
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-header-popup .title .strip {
  display: none;
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-header-popup .title .strip {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-header-popup .title {
    padding: 0;
    font-size: 14px;
    text-align: left;
  }
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-header-popup .title:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #FCCF00;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-header-popup .title:before {
    display: none;
  }
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup {
  background-color: white;
  color: #231F20;
  box-sizing: border-box;
  padding: 25px 25px 40px;
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup {
    padding: 10px 15px;
  }
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-title {
  margin-bottom: 15px;
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-title span {
  font-size: 19px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-title span {
    font-size: 20px;
  }
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-ul ul {
  border-bottom: 2px solid #244B8C;
  padding-bottom: 20px;
  display: flex;
}

@media (max-width: 576px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-ul ul {
    display: block;
  }
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-ul ul li {
  font-size: 12px;
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-ul ul li.type-description {
  width: 150px;
  font-weight: 700;
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-checkbox {
  display: flex;
  margin-bottom: 20px;
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-checkbox .checkbox {
  margin-right: 10px;
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-checkbox .description-checkbox {
  font-size: 13px;
  margin-top: 1px;
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-checkbox .description-checkbox span {
  color: #244B8C;
  text-decoration: underline;
  font-weight: 600;
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-button {
    flex-direction: column;
  }
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-button .button {
  color: black;
  font-weight: 700;
  padding: 3px 25px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-button .button:hover {
  text-decoration: none;
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-button .button.sign-up {
  background-color: #FCCF00;
  margin-right: 30px;
}

@media (max-width: 576px) {
  .box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-button .button.sign-up {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.box-contract-scheme-confirmation .box-popup-sign-in-confirmation .box-content-popup .box-button .button.back {
  background-color: #AFAFAF;
}